#{$all-button-inputs},
button,
.button {
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  background-color: $button-bg-color;
  border-radius: $global-radius;
  border: none;
  color: $button-font-color;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  padding: rem(12) rem(16);
  text-decoration: none;
  vertical-align: middle;
  transition: all 0.5s ease;

  &:hover,
  &:focus {
    background-color: $button-bg-color-hover;
    color: $button-font-color-hover;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
