$global-radius: rem(4) !default;

$button-bg-color: $color-1 !default;
$button-bg-color-hover: scale-color($button-bg-color, $lightness: -25%) !default;
$button-font-color: $white !default;
$button-font-color-hover: $button-font-color !default;

#{$all-button-inputs},
button,
.button {
  // @include appearance(none);
  background-color: $button-bg-color;
  border-radius: $global-radius;
  border: none;
  color: $button-font-color;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  padding: rem(12) rem(16);
  text-decoration: none;
  vertical-align: middle;
  transition: all 0.5s ease;
  -webkit-font-smoothing: antialiased;

  &:hover,
  &:focus {
    background-color: $button-bg-color-hover;
    color: $button-font-color-hover;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
