label {
  font-weight: 600;
  margin-bottom: ($paragraph-line-height * 1rem) / 2 / 2;

  &.required::after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

#{$all-text-inputs},
select[multiple=multiple],
textarea {
  background-color: $body-bg;
  border: $base-border;
  border-radius: $global-radius;
  box-sizing: border-box;
  padding: ($paragraph-line-height * 1rem) / 3;
  transition: all 0.5s ease;
  width: 100%;

  &:hover {
    border-color: scale-color($base-border-color, $lightness: -5%);
    outline: none;
  }

  &:focus {
    border-color: $primary-color;
    outline: none;
  }
}

select {
  display: block;
  // margin: (($paragraph-line-height * 1rem) / 2) 0 ($paragraph-line-height * 1rem);
  max-width: 100%;
  width: 100%;
}

textarea {
  resize: vertical;
  max-width: 100%;
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: ($paragraph-line-height * 1rem) / 2 / 2;
}

input[type="file"] {
  padding-bottom: ($paragraph-line-height * 1rem) / 2;
  width: 100%;
}

select {
}
