$container-width: rem(1200);
$total-columns: 12 !default;
$cell-gutter: rem(25) !default;
$cell-padding: rem(15) !default;


.container {
  max-width: $container-width !important;
  margin-left: auto;
  margin-right: auto;
}
.row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;

  &.reverse {
    flex-direction: row-reverse;
    flex-wrap: row-reverse;
  }
}
.column,
.columns {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &.reverse {
    flex-direction: column-reverse;
    flex-wrap: column-reverse;
  }
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }

}
.flex {
  flex-grow: 1;
  margin: $cell-gutter / 2;
  max-width: 100%;
}

@for $i from 1 through $total-columns {
  .flex-#{$i} {
    flex-grow: $i;
    margin: $cell-gutter / 2;
    max-width: 100%;
  }
}


.start {
  justify-content: flex-start;
}
.v-center {
  justify-content: center;
}
.end {
  justify-content: flex-end;
}

.top {
  align-items: flex-start;
}
.h-center {
  align-items: center;
}
.bottom {
  align-items: flex-end;
}

.stretch {
  align-items: stretch;
}
.around {
  justify-content: space-around;
}
.between {
  justify-content: space-between;
}
