ul,
ol {
  margin: 0;
  padding-left: rem(20);
}

dl {
  margin-bottom: (($paragraph-line-height * 1rem) / 2);

  dt {
    font-weight: bold;
    margin-top: (($paragraph-line-height * 1rem) / 2);
  }

  dd {
    margin: 0;
  }
}