ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &%default-ul {
    list-style-type: disc;
    margin-bottom: (($paragraph-line-height * 1rem) / 2);
    padding-left: ($paragraph-line-height * 1rem);
  }

  &%default-ol {
    list-style-type: decimal;
    margin-bottom: (($paragraph-line-height * 1rem) / 2);
    padding-left: ($paragraph-line-height * 1rem);
  }
}

dl {
  margin-bottom: (($paragraph-line-height * 1rem) / 2);

  dt {
    font-weight: bold;
    margin-top: (($paragraph-line-height * 1rem) / 2);
  }

  dd {
    margin: 0;
  }
}