$color-1						: tomato;
$color-2						: #339933;
$color-3						: blue;

$white       				: #FFFFFF;
$ghost       				: #FAFAFA;
$snow        				: #F9F9F9;
$vapor       				: #F6F6F6;
$white-smoke 				: #F5F5F5;
$silver      				: #EFEFEF;
$smoke       				: #EEEEEE;
$gainsboro   				: #DDDDDD;
$iron        				: #CCCCCC;
$base        				: #AAAAAA;
$aluminum    				: #999999;
$jumbo       				: #888888;
$monsoon     				: #777777;
$steel       				: #666666;
$charcoal    				: #555555;
$tuatara     				: #444444;
$oil         				: #333333;
$jet         				: #222222;
$black       				: #000000;
$transparent 	 			: rgba(0, 0, 0, 0);

$success-color			: green;
$warning-color			: yellow;
$alert-color				: red;
