$font-family-sans-serif: $helvetica;
// $font-family-sans-serif: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif;
$font-family-monospace: Consolas, "Liberation Mono", Courier, monospace;

$global-radius: 3px;
$global-rounded: 1000px;

$font-weight-normal: normal;
$font-weight-bold: bold;

$body-bg: $white;
$body-font-color: $jet;
$body-font-family: $font-family-sans-serif;
$body-font-weight: $font-weight-normal;
$body-font-style: normal;

$base-border-width: 1px;
$base-border-style: solid;
$base-border-color: $gainsboro;

$font-smoothing: antialiased;

$global-radius: 3px;
$global-rounded: 1000px;

$header-font-family: $body-font-family;
$header-font-weight: $font-weight-normal;
$header-font-style: normal;
$header-font-color: $jet;
$header-line-height: 1.2;
$header-top-margin: .2rem;
$header-bottom-margin: .5rem;
$header-text-rendering: optimizeLegibility;

$h1-font-size: rem(44);
$h2-font-size: rem(37);
$h3-font-size: rem(27);
$h4-font-size: rem(23);
$h5-font-size: rem(18);
$h6-font-size: 1rem;

$h1-font-reduction: rem(10);
$h2-font-reduction: rem(10);
$h3-font-reduction: rem(5);
$h4-font-reduction: rem(5);
$h5-font-reduction: 0;
$h6-font-reduction: 0;

$subheader-line-height: 1.4;
$subheader-font-color: scale-color($header-font-color, $lightness: 35%);
$subheader-font-weight: $font-weight-normal;
$subheader-top-margin: .2rem;
$subheader-bottom-margin: .5rem;

$small-font-size: 60%;
$small-font-color: scale-color($header-font-color, $lightness: 35%);

$paragraph-font-family: inherit;
$paragraph-font-weight: $font-weight-normal;
$paragraph-font-size: 1rem;
$paragraph-line-height: 1.4;
$paragraph-margin-bottom: rem(20);
$paragraph-aside-font-size: rem(14);
$paragraph-aside-line-height: 1.35;
$paragraph-aside-font-style: italic;
$paragraph-text-rendering: optimizeLegibility;

$code-color: $oil;
$code-font-family: $font-family-monospace;
$code-font-weight: $font-weight-normal;
$code-background-color: scale-color($secondary-color, $lightness: 70%);
$code-border-size: 1px;
$code-border-style: solid;
$code-border-color: scale-color($code-background-color, $lightness: -10%);
$code-padding: rem(2) rem(5) rem(1);

$anchor-text-decoration: none;
$anchor-text-decoration-hover: none;
$anchor-font-color: $primary-color;
$anchor-font-color-hover: scale-color($anchor-font-color, $lightness: -14%);

$hr-border-width: 1px;
$hr-border-style: solid;
$hr-border-color: $gainsboro;
$hr-margin: rem(20);

$list-font-family: $paragraph-font-family;
$list-font-size: $paragraph-font-size;
$list-line-height: $paragraph-line-height;
$list-margin-bottom: $paragraph-margin-bottom;
$list-style-position: outside;
$list-side-margin: 1.1rem;
$list-ordered-side-margin: 1.4rem;
$list-side-margin-no-bullet: 0;
$list-nested-margin: rem-calc(20);
$definition-list-header-weight: $font-weight-bold;
$definition-list-header-margin-bottom: .3rem;
$definition-list-margin-bottom: rem-calc(12);

$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($primary-color, $lightness: -5%, $alpha: -0.3);

// Media Query Ranges
$xs-range						: (0px, 479px);
$sm-range						: (480px, 767px);
$md-range						: (768px, 991px);
$lg-range						: (992px, 1169px);
$xl-range						: (1170px);

