@import 'bourbon';

// We put our faith in gulp's autoprefixer
$prefix-for-webkit:    false;
$prefix-for-mozilla:   false;
$prefix-for-microsoft: false;
$prefix-for-opera:     false;
$prefix-for-spec:      false;

html,
body {
	@include size(100%);
}

@import 'settings/functions';
@import 'settings/media-queries';
@import 'settings/colors';
@import 'settings/variables';

@import 'neat';

@import 'components/mixins';
@import 'components/buttons';
@import 'components/forms';
@import 'components/lists';
@import 'components/typography';
