<div class="centered-navigation-wrapper">
    <a data-scroll href="/" class="mobile-logo top">
        <img src="/assets/images/logo-icon.svg" alt="Logo image">
    </a>
    <a href="#" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">
        <span class="hamburger-cross">
            <span class="navicon"></span>
        </span>
    </a>
    <nav role="navigation">
        <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
            <li class="nav-link"><a href="/#/home">Home</a></li>
            <li class="nav-link"><a href="/#/projects">Projects</a></li>
            <li class="nav-link logo">
                <a data-scroll id="toggle" href="/#/" class="logo top">
                    <img src="/assets/images/logo-icon.svg" alt="Logo image">
                </a>
            </li>
            <li class="nav-link"><a href="/#/about">About</a></li>
            <li class="nav-link"><a href="/#/contact">Contact</a></li>
        </ul>
    </nav>
</div>
